.accordion_title {
  all: unset;
  font-size: var(--12px);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.accordion_title:before {
  content: '\F282';
  font-family: var(--bi-font);
  color: var(--accentClr);
  display: inline-block;
  margin-right: 5px;
  transition: all .3s ease-in-out;
}

.accordion_title.active:before {
  transform: rotate(180deg);
}

.accordion_content {
  background: var(--base);
  padding: 0 5px;
  border-radius: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  flex: 1 0 auto;
}

.accordion_content.active {
  padding: 5px;
}

.accordion_content div {
  padding: 5px 0 3px;
}

.accordion_content div:first-child {
  border-bottom: 1px solid var(--neutral);
}
