

/* Chatbox */
#fa_chat_container {
  background:#FFF;
  box-shadow: 0px 1px 4px rgba(116, 116, 116, 0.25);
  border-radius: 20px 0 20px;
  position: fixed;
  right: 4px;
  z-index: 999;
  overflow: hidden;
  min-width: 500px;
  min-height: 250px;
  transition: 300ms;
}
#fa_chat {
  border:none;
  width:100%;
  height:100%;
}
html:not(.chatbox-html) .chatbox{
  background: var(--color-bloc-1)!important;
}
/* Chatbox header */
html:not(.chatbox-html) #chatbox_header{
  background-color: unset;
  padding: 8px 0;
  height: 42px;
}
html:not(.chatbox-html) #chatbox_header.forabg, .chatbox .forabg{
  background: none;
}
html:not(.chatbox-html) .chatbox-title{
  width: unset;
}
html:not(.chatbox-html) .chatbox-title, .chatbox-title a.chat-title{
  color: var(--color-uno)!important;
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
}
html:not(.chatbox-html) .chatbox-options{
  font-size: unset;
}
html:not(.chatbox-html) .chatbox-options li, .chatbox-options li a, .chatbox-options li label{
  color: var(--color-text);
}
/* Chatbox Content */
html:not(.chatbox-html) #chatbox_members, #chatbox_channels{
  top: 58px!important;
  bottom: 85px!important;
  border-right: 2px solid var(--color-uno);
}
html:not(.chatbox-html) #chatbox_members .member-title, #chatbox_channels .member-title{
  font-family: "Mulish";
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-text);
  text-transform: uppercase;
  background: none;
}
html:not(.chatbox-html) #chatbox_members .online-users *, #chatbox_members .away-users *{
  font-family: "Bebas neue";
  font-size: 20px;
  font-weight: 400!important;
  line-height: 24px;
  text-transform: uppercase;
}
html:not(.chatbox-html) #chatbox{
  top: 58px!important;
  bottom: 85px!important;
  left: 214px;
  right: 16px;
}
html:not(.chatbox-html) .chatbox_row_1, .chatbox_row_2{
  background: none;
}
html:not(.chatbox-html) #chatbox > p{
  border-bottom: none!important;
}
html:not(.chatbox-html) #chatbox .user-msg .cb-avatar{
  display: none;
}
html:not(.chatbox-html) #chatbox .user-msg .user{
  font-family: "Bebas neue";
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
html:not(.chatbox-html) #chatbox .user-msg .msg{
  border: 2px solid var(--color-dos);
  border-radius: 20px;
  padding: 4px 16px;
}
html:not(.chatbox-html) #chatbox .date-and-time{
  color: var(--color-text);
  font-size: 11px;
}
html:not(.chatbox-html) #chatbox .cb_delete_msg{
  font-size: 11px;
}
/* Chatbox footer */
html:not(.chatbox-html) #chatbox_footer{
  height: unset!important;
}
html:not(.chatbox-html) #chatbox_messenger_form{
  display: flex!important;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 8px;
}
html:not(.chatbox-html) #chatbox_messenger_form .text-field{
  margin-top: 4px;
}
html:not(.chatbox-html) #chatbox_messenger_form .text-field label{
  display: none;
}
html:not(.chatbox-html) #chatbox_messenger_form .text-field #message{
  height: 32px;
  border-radius: 8px;
  border: 2px solid var(--color-uno);
  text-indent: 8px;
}
html:not(.chatbox-html) #chatbox_messenger_form .text-field #submit_button{
  border-radius: 8px;
  margin-left: 8px;
  border: 2px solid var(--color-dos);
  background-color: var(--color-dos)!important;
  color: var(--color-white)!important;
  height: 36px!important;
  padding: 0 8px;
}
html:not(.chatbox-html) #chatbox_messenger_form .text-field #submit_button:hover{
  border: 2px solid var(--color-white);
  background-color: var(--color-white) !important;
  color: var(--color-dos)!important;
}
html:not(.chatbox-html) #chatbox_messenger_form #help-button, html:not(.chatbox-html) #chatbox_messenger_form #divcolor, 
html:not(.chatbox-html) #chatbox_messenger_form #divsmilies, html:not(.chatbox-html) #chatbox_messenger_form .format-message + label{
  color: var(--color-white)!important;
  background-color: var(--color-bloc-2)!important;
  border-radius: 50%!important;
  border: none!important;
}
html:not(.chatbox-html) #help-button{
  position: absolute;
  top: 6px;
  right: calc(50% - 110px);
}
/* Chatbox contextmenu */
html:not(.chatbox-html) #chatbox_contextmenu{
  background-color: var(--color-bloc-3);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 1px 4px rgba(116, 116, 116, 0.25)!important;
}
html:not(.chatbox-html) #chatbox_contextmenu p{
  font-family: "Mulish";
  font-size: 13px;
  line-height: 16px;
  background: none;
  border-bottom: none;
  padding: 4px 8px;
}
html:not(.chatbox-html) #chatbox_contextmenu .cb-menu-close{
  top: 8px;
  right: 4px;
}
html:not(.chatbox-html) #chatbox_contextmenu a{
  color: var(--color-uno);
}
