/* SIGNATURE CADEAUX 15/01/2025 */
.signakdo15-wrapper { 
  display: flex;
  width: 250px;
  gap: 15px; 
} 

.signakdo15-wrapper > div { 
  font-size: var(--9px); 
  text-transform: uppercase; 
  font-style: italic; 
  text-align: justify; 
} 

.signakdo15-wrapper > div > span { 
  display: inline-block; 
  color: white; 
  border-radius: 20px; 
  padding: 3px 6px; 
  font: normal bold var(--10px) var(--font); 
  transition: all .5s ease-in-out;
} 

.signakdo15-wrapper > div > span:hover {
    padding-left: 15px;
}

.signakdo15-wrapper > div > span[class*="-love"] {  background: var(--love); } 
.signakdo15-wrapper > div > span[class*="-fire"] { background: var(--fire); } 
.signakdo15-wrapper > div > span[class*="-dark"] {  background: var(--dark); } 
.signakdo15-wrapper > div > span[class*="-wrecked"] { background: var(--wrecked); } 
.signakdo15-wrapper > div > span[class*="-iwantit"] {  background: var(--iwantit); } 
.signakdo15-wrapper > div > span[class*="-adams"] { background: var(--adams); } 
.signakdo15-wrapper > div > span[class*="-kirkland"] {  background: var(--kirkland); } 
.signakdo15-wrapper > div > span[class*="-franklin"] { background: var(--franklin); } 
.signakdo15-wrapper > div > span[class*="-pfo"] {  background: var(--pfo); } 
.signakdo15-wrapper > div > span[class*="-student"] { 
  background: var(--students); 
  color: #5f5446; 
} 

.signakdo15-img { 
  flex: 0 0 100px; 
  width: 100px; 
  object-fit: cover; 
  will-change: filter; 
  transition: filter .5s; 
  filter: grayscale(100%) drop-shadow(0 0 0px var(--accentClrDark)); 
  border-radius: 5px; 
} 

.signakdo15-img-clr { 
  flex: 0 0 100px; 
  width: 100px; 
  object-fit: cover; 
  will-change: filter; 
  transition: filter .5s; 
  filter: drop-shadow(0 0 0px var(--accentClrDark)); 
  border-radius: 5px; 
} 

.signakdo15-img:hover { 
  filter: grayscale(20%) drop-shadow(3px 3px 0px var(--accentClr)); 
}

.signakdo15-img-clr:hover { 
  filter: drop-shadow(3px 3px 0px var(--accentClr)); 
}


/* ========== SIGNATURE DJ =========== */

.signature_dj_animated {
	position: relative;
	text-align: center;
	width: var(--containerWidth);
	height: var(--containerHeight);
	margin: 0 auto;
}

.signature_dj_animated .title {
	color: var(--titleColor);
	font-size: var(--titleSize);
	font-weight: 700;
	padding: 0 20px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	transition: all .5s ease-in-out;
}

.signature_dj_animated img {
	position: absolute;
	inset: 0;
	margin: auto;
	transform: rotate(var(--imgRotation));
	filter: grayscale(1);
	transition: all .5s ease-in-out;
}

.signature_dj_animated .stroked {
	color: transparent;
	-webkit-text-stroke: 1px var(--titleColor);
	z-index: 2;
}

.signature_dj_animated:hover .title {
	top: 95%;
}

.signature_dj_animated:hover img {
	filter: grayscale(0);
}

.signature_dj_animated .text {
	color: var(--textColor);
	position: absolute;
	text-transform: uppercase;
	font-size: var(--11px);
	bottom: var(--textBottomPosition);
	opacity: 0;
	transition: all .5s ease-in-out;
	background: var(--textBg);
	padding: 5px;
	border-radius: 5px;
	font-weight: 600;
}

.signature_dj_animated:hover .text {
	opacity: 1;
}
