/* ========== ADMIN ========== */
.admin-template {
  border-radius: 8px;
  background: var(--neutral);
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.admin-content {
  flex: 1 1 auto;
  padding: 10px;
  position: relative;
  
  .imgs {
    display: flex;
    margin-top: 12px;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;

    img {
      border-radius: 4px;
    }

    &.one img {
      object-fit: cover;
      width: 100%;
      max-height: 250px;
    }

    &.two img {
      max-width: calc(50% - 6px);
      max-height: 200px;
      object-fit: cover;
    }

    &.three img {
      max-width: calc(33% - 6px);
      max-height: 170px;
      object-fit: cover;
    }
  }

  .content {
    border-radius: 8px;
    padding: 20px;
    margin: 12px 0 0;
    background: var(--neutralLight);
    text-align: justify;
  }
}

.admin-tw {
  flex: 0 0 75px;
  background: var(--neutralDark);
  padding: 10px;
  font-size: var(--10px);
  text-align: center;

  &:before {
    content: 'TW';
    background: var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: var(--8px);
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    margin: 2px auto 10px;
  }
}

.admin-title {
  font-size: var(--20px);
  font-family: var(--title);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;

  i { color: var(--accentClr); }
  &:after {
    content: '';
    flex: 1 1 auto;
    height: 1px;
    background: var(--textColor);
  }
}

.admin-template:has(.admin-tw) .admin-title:after { margin-right: -37px; }

subtitle1 {
  background: var(--gradientAccent);
  border-radius: 4px;
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
  font-size: var(--12px);
}

subtitle2 {
  font-size: var(--12px);
  font-weight: 700;
  color: var(--accentClrDark);
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  &:before, &:after {
    content: '';
    flex: 1 1 auto;
    height: 1px;
    background: var(--neutral);
  }
}

subtitle3, subtitle4 {
  font-size: var(--12px);
  border-radius: 4px;
  padding: 1px 4px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}
subtitle3 { background: var(--accentClrDark); }
subtitle4 { background: var(--accentClr); }

.subtitle5, .subtitle6 {
  display: inline-block;
  background: var(--neutralDark);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: var(--12px);
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  margin: 4px 0 0;
  padding-left: 25px;
}

.subtitle5 {
  padding-left: 20px;
  margin-left: 3px; 

  i {
    background: var(--gradientAccent);
    color: var(--white);
    font-size: 14px;
    position: absolute;
    border-radius: 50%;
    left: -5px;
    top: 0;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.subtitle6 {
  overflow: hidden;

  i {
    background: var(--gradientAccent);
    color: var(--white);
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    align-items: center;
    justify-content: center;
  }
}

subtitle7, subtitle8 {
  font-size: var(--12px);
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px 9px 0;
  border-image: var(--gradientAccent);
  border-image-slice: 1;
  margin-bottom: 4px;
  display: inline-block;
}

subtitle7 { border-bottom: 1px solid transparent; }
subtitle8 { border-width: 1px; border-style: solid; }

subtitle9 {
  background: var(--gradientAccent);
  color: var(--white);
  font-size: var(--11px);
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px 4px;
}

x { color: var(--accentClr); font-weight: 600;}
w { color: var(--accentClrDark); font-weight: 600;}
j { font-style: italic; color: var(--accentClrDark); }
k { font-style: italic; color: var(--accentClr); }
l { color: var(--accentClr); font-weight: 600; text-transform: uppercase; font-size: var(--11px); }
m { color: var(--accentClrDark); font-weight: 600; text-transform: uppercase; font-size: var(--11px); }
n { border-bottom: 1px #745135 dashed; }
r1 { font-family: var(--title); text-transform: lowercase; color: var(--accentClr); font-style: italic; font-size: var(--16px); }
r2 { font-family: var(--title); text-transform: lowercase; color: var(--accentClrDark); font-style: italic; font-size: var(--16px); }
r3 { font-family: var(--title); }
fond1 { background: var(--gradientAccent); border-radius: 4px; font-weight: 600; padding: 0 3px; text-transform: lowercase; }
fond2 { background: var(--accentClr); border-radius: 4px; font-weight: 600; padding: 0 3px; text-transform: lowercase; }
fond3 { background: var(--accentClrDark); border-radius: 4px; font-weight: 600; padding: 0 3px; text-transform: lowercase; }
