:root {
	--gradientPride: linear-gradient(to right, rgb(237, 34, 36), rgb(243, 91, 34), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165), rgb(97, 55, 155), rgb(147, 40, 142));
	--gradientTransgender: linear-gradient(to right, rgb(85, 205, 252), rgb(179, 157, 233), rgb(247, 168, 184), rgb(246, 216, 221), rgb(255, 255, 255) 45%, rgb(255, 255, 255), rgb(255, 255, 255) 55%, rgb(246, 216, 221), rgb(247, 168, 184), rgb(179, 157, 233), rgb(85, 205, 252));
	--gradientLesbian: linear-gradient(to right, rgb(213, 44, 0), rgb(226, 150, 136), rgb(255, 255, 255) 45%, rgb(255, 255, 255), rgb(255, 255, 255) 55%, rgb(210, 127, 164), rgb(162, 2, 98));
	--gradientGay: linear-gradient(to right, rgb(7, 141, 111), rgb(152, 202, 153), rgb(255, 255, 255) 45%, rgb(255, 255, 255), rgb(255, 255, 255) 55%, rgb(205, 208, 234), rgb(123, 173, 226) 70%, rgb(69, 76, 189), rgb(63, 26, 121));
	--gradientNonbinary: linear-gradient(to right, rgb(253, 219, 0), rgb(238, 212, 143), rgb(255, 255, 255) 30%, rgb(255, 255, 255), rgb(255, 255, 255) 36%, rgb(212, 181, 222), rgb(156, 92, 212), rgb(88, 50, 96), rgb(0, 0, 0));
	--gradientBisexual: linear-gradient(to right, rgb(255, 0, 128), rgb(200, 37, 157), rgb(140, 71, 153), rgb(68, 46, 159), rgb(0, 50, 160));
	--gradientIntersex: linear-gradient(to right, rgb(255, 217, 0), rgb(255, 217, 0), rgb(255, 217, 0) 10%, rgb(230, 54, 97), rgb(157, 0, 253), rgb(230, 54, 97), rgb(255, 217, 0) 90%, rgb(255, 217, 0), rgb(255, 217, 0));
	--gradientPansexual: linear-gradient(to right, rgb(255, 30, 140) 10%, rgb(255, 102, 57), rgb(255, 230, 29) 40%, rgb(255, 230, 29), rgb(255, 230, 29) 60%, rgb(87, 229, 98), rgb(31, 179, 253) 85%, rgb(31, 179, 253), rgb(31, 179, 253));
	--gradientGenderqueer: linear-gradient(to right, rgb(185, 154, 222), rgb(225, 209, 232), rgb(255, 255, 255) 45%, rgb(255, 255, 255), rgb(255, 255, 255) 55%, rgb(187, 191, 159), rgb(107, 142, 58));
	--gradientGenderfluid: linear-gradient(to right, rgb(255, 120, 166), rgb(247, 196, 210), rgb(255, 255, 255) 23%, rgb(255, 255, 255), rgb(255, 255, 255) 28%, rgb(219, 148, 213), rgb(190, 20, 215), rgb(89, 22, 85), rgb(0, 0, 0) 73%, rgb(0, 0, 0), rgb(0, 0, 0) 78%, rgb(51, 36, 87), rgb(50, 60, 191));
	--gradientAgender: linear-gradient(to right, rgb(0, 0, 0), rgb(103, 103, 103), rgb(205, 205, 205) 15%, rgb(230, 230, 230), rgb(255, 255, 255) 22%, rgb(255, 255, 255), rgb(255, 255, 255) 28%, rgb(228, 239, 201), rgb(186, 244, 132), rgb(228, 239, 201), rgb(255, 255, 255) 72%, rgb(255, 255, 255), rgb(255, 255, 255) 78%, rgb(230, 230, 230), rgb(205, 205, 205) 85%, rgb(103, 103, 103), rgb(0, 0, 0));
	--gradientAromantic: linear-gradient(to right, rgb(60, 170, 65), rgb(179, 207, 164), rgb(255, 255, 255) 45%, rgb(255, 255, 255), rgb(255, 255, 255) 55%, rgb(128, 128, 128), rgb(0, 0, 0));
	--gradientAsexual: linear-gradient(to right, rgb(0, 0, 0), rgb(81, 81, 80), rgb(163, 162, 160), rgb(209, 208, 208), rgb(255, 255, 255) 60%, rgb(255, 255, 255), rgb(255, 255, 255) 70%, rgb(185, 151, 185), rgb(101, 46, 129));
}

strong { font-weight: bold !important; }
hr { border-color: var(--neutral); height: 1px; border-style: solid; }
blockquote { text-align: justify; }

/* ========== ADMIN ========== */
.admin-template {
  border-radius: 8px;
  background: var(--neutral);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mobile .admin-template {
	flex-direction: column;
}

.admin-template hr {
  border: 2px var(--accentClr) solid;
  border-radius: 2px;
  width: 100%;
}

.admin-template a { color: var(--accentClrLink); }
.admin-template a.mentiontag { text-decoration: none; }

.admin-content {
  flex: 1 1 auto;
  padding: 10px;
  position: relative;
}

.admin-content .imgs {
  display: flex;
  margin-top: 12px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.admin-content .imgs img {
  border-radius: 4px;
}

.admin-content .imgs.one img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.admin-content .imgs.one img.small {
  max-width: 400px;
  margin: 0 auto;
}

.admin-content .imgs.two img {
  width: calc(50% - 6px);
  height: 200px;
  object-fit: cover;
}

.admin-content .imgs.three img {
  width: calc(33% - 6px);
  height: 170px;
  object-fit: cover;
}

.admin-content .content {
  border-radius: 8px;
  padding: 20px;
  margin: 12px 0 0;
  background: var(--neutralLight);
  text-align: justify;
}

.admin-tw {
  background: var(--tw);
  margin-bottom: 10px;
  padding: 10px 8px;
  border-radius: 8px 8px 0 0;
  position: relative;
  padding-left: 45px;
  color: var(--white);
}

.admin-tw:before {
  content: "TW";
  color: black;
  font-size: var(--8px);
  background: var(--white);
  border-radius: 50%;
  margin-right: 5px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
}

.admin-title {
  font-size: var(--20px);
  font-family: var(--title);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-title i { color: var(--accentClr); }
.admin-title:after {
  content: '';
  flex: 1 1 auto;
  height: 1px;
  background: var(--textColor);
}

subtitle1 {
  background: var(--gradientAccent);
  border-radius: 4px;
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
  font-size: var(--12px);
}

subtitle2 {
  font-size: var(--16px);
  font-weight: 700;
  color: var(--accentClrDark);
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

subtitle2:before, subtitle2:after {
  content: '';
  flex: 1 1 auto;
  height: 1px;
  background: var(--neutral);
}

subtitle3, subtitle4 {
  font-size: var(--12px);
  border-radius: 4px;
  padding: 1px 4px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}
subtitle3 { background: var(--accentClrDark); }
subtitle4 { background: var(--accentClr); }

.subtitle5, .subtitle6 {
  display: inline-flex;
  background: var(--neutralDark);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: var(--12px);
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  margin: 4px 0 0;
  padding-left: 25px;
}

.subtitle5 {
  padding-left: 20px;
  margin-left: 3px;
}

.subtitle5 i {
  background: var(--gradientAccent);
  color: var(--white);
  font-size: 14px;
  position: absolute;
  border-radius: 50%;
  left: -5px;
  top: 0;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle6 {
  overflow: hidden;
}

.subtitle6 i {
  background: var(--gradientAccent);
  color: var(--white);
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  align-items: center;
  justify-content: center;
}

subtitle7, subtitle8 {
  font-size: var(--12px);
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px 9px 0;
  border-image: var(--gradientAccent);
  border-image-slice: 1;
  margin-bottom: 4px;
  display: inline-block;
}

subtitle7 { border-bottom: 1px solid transparent; }
subtitle8 { border-width: 1px; border-style: solid; }

subtitle9 {
  background: var(--gradientAccent);
  color: var(--white);
  font-size: var(--11px);
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px 4px;
}

x { color: var(--accentClr); font-weight: 600;}
w { color: var(--accentClrDark); font-weight: 600;}
j { font-style: italic; color: var(--accentClrDark); }
k { font-style: italic; color: var(--accentClr); }
l { color: var(--accentClr); font-weight: 600; text-transform: uppercase; font-size: var(--11px); }
m { color: var(--accentClrDark); font-weight: 600; text-transform: uppercase; font-size: var(--11px); }
n { border-bottom: 1px #745135 dashed; }
r1 { font-family: var(--title); text-transform: lowercase; color: var(--accentClr); font-style: italic; font-size: var(--16px); }
r2 { font-family: var(--title); text-transform: lowercase; color: var(--accentClrDark); font-style: italic; font-size: var(--16px); }
r3 { font-family: var(--title); }
fond1 { background: var(--gradientAccent); border-radius: 4px; font-weight: 600; padding: 0 3px; text-transform: lowercase; color: var(--white); }
fond2 { background: var(--accentClr); border-radius: 4px; font-weight: 600; padding: 0 3px; text-transform: lowercase; color: var(--white); }
fond3 { background: var(--accentClrDark); border-radius: 4px; font-weight: 600; padding: 0 3px; text-transform: lowercase; color: var(--white); }
e1 { 
  border-bottom: var(--accentClr) 2px solid; 
  padding: 0 3px; 
  transition: all 0.25s ease;
}

e1:before {
  content: '';
  background: var(--accentClr);
  transition: all 0.25s ease;
}

e1:hover {
  color: var(--white); 
  background: var(--accentClr);
}

e2 { 
  border-bottom: var(--accentClrDark) 2px solid; 
  padding: 0 3px; 
  transition: all 0.25s ease;
}

e2:before {
  content: '';
  background: var(--accentClrDark);
  transition: all 0.25s ease;
}

e2:hover {
  color: var(--white); 
  background: var(--accentClrDark);
}

gradiant {
  background: var(--gradientAccent);
  padding: 1px 4px;
  font-size: var(--11px);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}

back1 {
  background: var(--accentClr);
  font-weight: 400;
  padding: 0 5px;
  text-transform: uppercase;
  color: var(--white);
}

back2 {
  background: var(--accentClrDark);
  font-weight: 400;
  padding: 0 5px;
  text-transform: uppercase;
  color: var(--white);
}

in, out {
  font: var(--28px) var(--title);
  font-style: italic;
  text-transform: lowercase;
}

in:before, out:before { content: '— '; }

in { color: #2b8e2b; }
out { color: #921c1c; }

tw {
	background: var(--neutralDark);
	color: var(--neutralDark);
	cursor: default;
	border-bottom: 1px solid var(--neutralDark);
}

tw:hover {
  background: transparent;
  color: inherit;
}

/* ================= BOTTIN ================= */

pris, reserve, nouveau {
  display: flex; 
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: -10px;
}

pris i, reserve i, nouveau i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--bi-font);
  width: 20px;
  height: 25px;
  border-radius: 4px;
  color: var(--white);
}

pris date, reserve date, nouveau date {
  color: var(--accentClr); 
}

pris date:before, reserve date:before, nouveau date:before {
  content: " ›";
  margin-right: 5px;
}

pris b, reserve b, nouveau b {
  width: 50%;
  background: var(--neutral); 
  padding: 2px 10px;
  text-transform: uppercase;
}

pris span, reserve span, nouveau span {
  padding: 2px 10px; 
  flex-grow: 1; 
  margin-left: 10px;
}

pris span:hover, reserve span:hover, nouveau span:hover {
  background: var(--neutral);
}

pris i {
  background: var(--love);  
}

reserve i {
  background: var(--fire); 
}

nouveau i {
  background: var(--students);
}


adams { color: var(--adams); }
dudley { color: var(--dudley); }
kirkland { color: var(--kirkland); }
pfo { color: var(--pfo); }
franklin { color: var(--franklin); }
students { color: var(--students); }
iwantit { color: var(--iwantit); }
love { color: var(--love); }
fire { color: var(--fire); }
wrecked { color: var(--wrecked); }
darkrises { color: var(--dark); }

bizutadams { color: var(--bizutadams); }
bizutdudley { color: var(--bizutdudley); }
bizutfranklin { color: var(--bizutfranklin); }
bizutkirkland { color: var(--bizutkirkland); }
bizutpfo { color: var(--bizutpfo); }

agender, aromantic, asexual, bisexual, gay, genderfluid, genderqueer, intersex, lesbian, pride, nonbinary, pansexual, transgender {
    font-weight: 600;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
    padding: 2px 4px;
}

agender::before , aromantic::before , asexual::before , bisexual::before , gay::before , genderfluid::before , genderqueer::before , intersex::before , lesbian::before , pride::before , nonbinary::before , pansexual::before , transgender::before  {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    z-index: -1;
    border-radius: 4px;
}

agenderbg, aromanticbg, asexualbg, bisexualbg, gaybg, genderfluidbg, genderqueerbg, intersexbg, lesbianbg, pridebg, nonbinarybg, pansexualbg, transgenderbg {
    padding: 2px 4px;
    border-radius: 4px;
    color: #FFF;
    font-weight: 600;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .5);
}

agender, agenderbg { background: var(--gradientAgender); }
aromantic, aromanticbg { background: var(--gradientAromantic); }
asexual, asexualbg { background: var(--gradientAsexual); }
bisexual, bisexualbg { background: var(--gradientBisexual); }
gay, gaybg { background: var(--gradientGay); }
genderfluid, genderfluidbg { background: var(--gradientGenderfluid); }
genderqueer, genderqueerbg { background: var(--gradientGenderqueer); }
intersex, intersexbg { background: var(--gradientIntersex); }
lesbian, lesbianbg { background: var(--gradientLesbian); }
pride, pridebg { background: var(--gradientPride); }
nonbinary, nonbinarybg { background: var(--gradientNonbinary); }
pansexual, pansexualbg { background: var(--gradientPansexual); }
transgender, transgenderbg { background: var(--gradientTransgender); }

.admin-table { display: table; }
.admin-table div { display: table-cell; vertical-align: top; }
.mobile .admin-table, .mobile .admin-table div { display: block; }


/* ================= TIMELINE - COMPLEMENT DE FICHE ================= */

/* Chronologie */
/* Conteneur de la chronologie */ 
.chrono { 
	width: 100%; /* Largeur */ 
	display: grid; 
	grid-template-columns: 80px 1fr; /* Permet de créer deux colonnes. 100px = premier colonne, 1fr = deuxième colonne qui comble l'espace restant */ 
	grid-auto-rows: auto; 
	row-gap: 20px; /* Espace entre les lignes */ 
	column-gap: 60px; /* Espace entre les colonnes */ 
	position: relative; 
	box-sizing: border-box; 
	margin: 0 auto; /* Centre le conteneur */ 
} 

.mobile .chrono {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

/* Permet d'utiliser des sauts de ligne dans le HTML pour que le code soit plus lisible à remplir */ 
.chrono > br { display: none; } 

/*Date ou événement*/ 
.chrono date { 
	grid-column: 1; /* Positionne la date dans la première colonne */ 
	position: relative; 
	display: block; /* Personnalisation esthétique */ 
	font-weight: 700; 
	text-align: right; 
	color: var(--accentClr); 
	background: var(--gradientAccent);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.mobile .chrono date { 
	text-align: left;
	align-items: center;
	justify-content: flex-start;
	display: flex;
	gap: 15px;
}

/* Créer la ligne verticale entre les dates et les descriptions */ 
.chrono date:not(:last-of-type):before { 
	content: ""; 
	position: absolute; 
	right: -31px; /* Positionne la ligne au centre de l'espace entre les colonnes. L'espace était 60px, on divise par deux pour être au centre */ 
	top: 20px; /* Petite marge en haut pour que la ligne commence qu'à partir du point */ 
	bottom: -20px; /* Force la ligne à s'étendre jusqu'à la fin de la description. 20px = espace entre chaque ligne */ 
	width: 1px; /* Largeur de la ligne */ 
	background: var(--accentClr); 
} 

.mobile .chrono date:not(:last-of-type):before {
	left: -19px;
	right: auto; /* Positionne la ligne au centre de l'espace entre les colonnes. L'espace était 60px, on divise par deux pour être au centre */ 
}

/* Point entre la date et la description */ 
.chrono date:after { 
	content: ""; 
	position: absolute; 
	z-index: 99; 
	top: 5px; /* Petite marge en haut pour aligner le point à la première ligne de texte */ 
	right: -35px; /* Positionne le point au centre de l'espace entre les colonnes */ 
	width: 9px; /* Largeur du point */ 
	height: 9px; /* Personnalisation esthétique */ 
	background-color: currentColor; 
	border-radius: 10px; 
} 

.mobile .chrono date:after {
	left: -23px;
	right: auto;
}

/*Description*/ 
.chrono desc { 
	grid-column: 2; /* Positionne la description dans la deuxième colonne */ 
	display: block; 
	position: relative;
}

.mobile .chrono desc:before {
	content: ""; 
	position: absolute; 
	left: -19px;
	right: auto; /* Positionne la ligne au centre de l'espace entre les colonnes. L'espace était 60px, on divise par deux pour être au centre */ 
	top: 0; /* Petite marge en haut pour que la ligne commence qu'à partir du point */ 
	bottom: -20px; /* Force la ligne à s'étendre jusqu'à la fin de la description. 20px = espace entre chaque ligne */ 
	width: 1px; /* Largeur de la ligne */ 
	background: var(--accentClr); 
}
