/* =============================
          MultiSwitcher
   ============================= */

#szSw {
position: fixed;
    right: 15px;
    top: 15px;
    z-index: 999;
    font-family: Arial, sans-serif;
}

#szSwBtn {
width: 45px;
    height: 45px;
    border: 0;
    border-radius: 13px;
    cursor: pointer;
    background: rgb(20 20 24 / .92);
    color: #fff;
    font-size: 18px;
}

#szSwPanel {
position: absolute;
    right: 0;
    top: 55px;
    width: 280px;
    border-radius: 14px;
    overflow: hidden;
    background: #0e0e0e;
    color: #fff;
  transition: 0.25s ease;
  opacity: 0;
  pointer-events: none;
}

#szSw.open #szSwPanel {
  opacity: 1;
  pointer-events: auto;
}

#szSwHead {
display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #141414;
}

#szSwHead b {
  font-size: 13px;
}

#szSwHead .actions {
  display: flex;
  gap: 6px;
}

#szSwHead button {
cursor: pointer;
    border: 0;
    border-radius: 10px;
    padding: 6px 8px;
    background: #202020;
    color: #fff;
    font-size: 11px;
}

#szSwBody {
  padding: 10px;
}

#szSwList {
  list-style: none;
  margin: 0;
  padding: 0;
}

#szSwList li {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

#szSwList li.szSw-active {
  opacity: .6;
}


#szSwList li:hover {
  background: rgba(255,255,255,.05);
}

#szSwList img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  background: rgba(255,255,255,.12);
}

#szSwList .meta {
  display: flex;
  flex-direction: column;
}

#szSwList .nick {
  font-size: 13px;
}

#szSwList .sub {
  font-size: 11px;
  opacity: .75;
}

#szSwAdd {
  margin-top: 10px;
  display: flex;
  gap: 6px;
}

/* =============================
         END Multiswitcher
   ============================= */
