html[data-theme="day"], html:not([data-theme]){
    --bg-color-opacity: rgba(255, 255, 255, 0.7);
    --color-uno: #d7933f;
    --tmp-color-uno: #c47617;
    --color-uno-gradiant: #c47617;
    --color-dos: #cb816e;
    --color-lu: #ffffff; /* Color balise fond1, etc... */
    --color-text: #705a49;
    --color-text-cate: #434242;
    --color-fond-wrapper: #f5e3d6;
    --gradient-fond-color: linear-gradient(90deg, rgb(238 193 158) 0%,rgb(238 193 158) 100%);
    --color-fond-forum: #eec19e;
    --color-fond-cate: #e8dfd1; /* fond cate dernier message + qeel */
    --color-bloc-1: #f1ede8; /* fond cate */
    --color-bloc-2: #e8ded0; /* fond mdm pa */
    --color-bloc-3: #ebdecd; /* Scroll and background profil sujet */
    --color-sous-ligne: #cb816e; /* Member month color */
    --color-white: #FFFFFF;
    --color-link: #cb816e;
    --color-balise-deco-un: #e38c23;
    --color-balise-deco-deux: #cb816e;
    --color-cate-title: #e18a21;
    --filter-color-uno: invert(54%) sepia(46%) saturate(463%) hue-rotate(325deg) brightness(97%) contrast(77%); /* Icones Pa */
    --filter-color-dos: invert(54%) sepia(46%) saturate(463%) hue-rotate(325deg) brightness(97%) contrast(77%); /* DC profil user */
    --filter-fond-forum: invert(99%) sepia(55%) saturate(485%) hue-rotate(298deg) brightness(100%) contrast(107%);
    --gradient-hoz: linear-gradient(90deg,var(--color-uno) 0%,var(--color-uno) 100%); 
    --img-url-header: url("https://images2.imgbox.com/ee/6f/S5Lrok7z_o.png"); 
    --img-url-sujet: url("https://images2.imgbox.com/49/88/85G6UM9D_o.png");
    --img-url-category: url("https://images2.imgbox.com/96/93/LSZYS0JY_o.png");
    --rgb-uno: 238,193, 158; /*TW PROFIL*/
    --rgb-dos: 238,193, 158;
    --rgb-shadow: 0, 0, 0;
    --icon-day-night: url("https://images2.imgbox.com/54/a1/Ym8V4j0C_o.png");
    --img-notif: url("https://images2.imgbox.com/50/84/n8EgXwy9_o.png");
    --box-shadow-1: 195, 195, 195, 0.25;
    --background-admin-content: #f5e4d6;
    --border-admin-content: rgba(197, 192, 182, .3);
    --border-bottom-admin-content: #e6ecee;
    --last-post-invert: invert(0);
    --color-new: #d48e38;
    --color-no-new: #dac4a9;
    --bottin-pris: indianred;
    --icon-pris: #84b181;
    --bottin-reserve: #dfa73d;
    --icon-reserve: #656565;
    --bottin-nouveau: #9f6f14;
    --icon-nouveau: #656565;
    --adams: #00B0F0;
    --kirkland: #626CC7;
    --pfo: #D19E07;
    --dudley: #E80065;
    --students: #B86F5D;
    --darkrises: #70A3C7;
    --iwantit: #38A33F;
    --loveshot: #AB2037;
    --firestarter: #E38846;
    --idwbya: #008796;
    --sc-touriste: #6B8B8E;
    --sc-boston: #C47372;
    --sc-equipe1: #86A67F;
    --sc-equipe2: #8892A0;
    --sc-equipe3: #C9914A;
    --sc-equipe4: #B49E89;
}
html[data-theme="night"], html.fa_darkmode{
    --bg-color-opacity: rgba(0, 0, 0, 0.7);
    --color-uno: #5e646e;
    --tmp-color-uno: #383d45;
    --color-uno-gradiant: #383d45;
    --color-dos: #75968e;
    --color-lu: #DCDCDC; /* Color balise fond1, etc... */
    --color-text: #97989a;
    --color-text-cate: #c0c2c5;
    --color-fond-wrapper: #1a1c21;
    --gradient-fond-color: linear-gradient(90deg,rgb(68 71 80) 0%,rgb(68 71 80) 100%);
    --color-fond-forum: #141414;
    --color-fond-cate: #18191a;
    --color-bloc-1: #25272c;
    --color-bloc-2: #1a1c21;
    --color-bloc-3: #2b2e37;
    --color-sous-ligne: #7e908b; /* Member month color */
    --color-white: #dcdcdc;
    --color-link: #6c8f86;
    --color-balise-deco-un: #747e8f;
    --color-balise-deco-deux: #7e908b;
    --color-cate-title: #d2cac5;
    --filter-color-uno: invert(58%) sepia(10%) saturate(382%) hue-rotate(113deg) brightness(94%) contrast(86%); /* Icones Pa */
    --filter-color-dos: invert(58%) sepia(10%) saturate(382%) hue-rotate(113deg) brightness(94%) contrast(86%); /* DC profil user */
    --filter-fond-forum: invert(3%) sepia(6%) saturate(1747%) hue-rotate(181deg) brightness(103%) contrast(99%);
    --gradient-hoz: linear-gradient(90deg,var(--color-uno) 0%,var(--color-uno-gradiant) 100%); 
    --img-url-header: url("https://images2.imgbox.com/60/9b/OlwXRkla_o.png");
    --img-url-sujet: url("https://images2.imgbox.com/49/88/85G6UM9D_o.png");
    --img-url-category: url("https://images2.imgbox.com/46/eb/JLqpzeRz_o.png");
    --rgb-uno: 56,61,69;
    --rgb-dos: 42, 45, 47;
    --rgb-shadow: 255, 255, 255;
    --icon-day-night: url("https://images2.imgbox.com/5f/43/abhgckiV_o.png");
    --img-notif: url("https://images2.imgbox.com/1f/b8/IthN92GB_o.png");
    --box-shadow-1: 20, 20, 20, 0.25;
    --background-admin-content: #1a1c21;
    --border-admin-content: rgba(0, 0, 0, .3);
    --border-bottom-admin-content: #ae96a1;
    --last-post-invert: invert(1);
    --color-new: #6fa899;
    --color-no-new: #6b7270;
    --bottin-pris: #934343;
    --icon-pris: #30652d;
    --bottin-reserve: #a18042;
    --icon-reserve: #bdbdbd;
    --bottin-nouveau: #6d4c0d;
    --icon-nouveau: #bdbdbd;
    --adams: #00B0F0;
    --kirkland: #626CC7;
    --pfo: #D19E07;
    --dudley: #E80065;
    --students: #B86F5D;
    --darkrises: #70A3C7;
    --iwantit: #38A33F;
    --loveshot: #AB2037;
    --firestarter: #E38846;
    --idwbya: #008796;
    --sc-touriste: #6B8B8E;
    --sc-boston: #C47372;
    --sc-equipe1: #86A67F;
    --sc-equipe2: #8892A0;
    --sc-equipe3: #C9914A;
    --sc-equipe4: #B49E89;
}
