.mobile .id_card .first_block_left {
  flex: 1 1 auto;
  height: 300px;
}

.mobile .id_card .avatar_right {
  flex: 1 1 auto;
  margin-top: 10px;
  margin-right: 0;
  text-align: center;
}

.mobile .id_card .avatar_right img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.mobile .id_card .second_block .line {
  display: flex;
  flex-direction: column;
}

.mobile .id_card .hors_jeu {
  display: flex;
  flex-direction: column;
}

.mobile .id_card .hors_jeu .content {
  height: 200px;
}

.mobile .id_card .hors_jeu img {
  margin: 0 auto 20px;
}

.mobile .id_card .hors_jeu .codebox {
  padding: 15px;
}

.id_card {
  max-width: 630px;
  max-width: 100%;
  margin: 0 auto; 
}

.id_card .admin-title {
  letter-spacing: 1px;
  font-size: var(--14px);
}

.id_card .admin-title:after {
  content: '';
  flex: 1 1 auto;
  height: 1px;
  background: var(--neutral);
}

.id_card .first_block {
  border-radius: 8px;
  background: var(--neutralDark);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 6px;
}

.id_card .first_block > .content {
  padding: 20px;
  line-height: 1;
  width: 100%;
}

.id_card .head {
  background: var(--gradientAccent);
  padding: 6px;
  color: var(--white);
  display: flex;
  gap: 5px;
  flex: 1 1 100%;
  line-height: 1;
  align-items: center;
}

.id_card .head:before {
  content: '\F379';
  font-family: 'bootstrap-icons';
  font-size: var(--38px);
}

.id_card .head div {
  display: flex;
  flex-direction: column;
}

.id_card .head div span:first-child {
  font-family: var(--title);
  font-size: var(--18px);
  text-transform: uppercase;
}

.id_card .head div span:last-child {
  font-style: italic;
  font-size: var(--14px);
  font-weight: 500;
}

.id_card .first_block_left {
  flex: 0 1 calc(100% - 162px);
  padding: 10px 10px 0;
  height: 205px;
  display: flex;
  flex-direction: column;
}

.id_card .first_block_left .informations {
  flex: 1 1 auto;
  overflow: auto;
  margin-top: 10px;
  display: flex;
  text-align: justify;
}

.id_card .first_block_left .informations div {
  flex: 1 1 50%;
  background: var(--base);
  padding: 10px;
  border-radius: 8px;
  overflow: auto;
  height: 100%;
}

.id_card .first_block_left .informations div > * {
  display: block;
}

.id_card .avatar_right {
  flex: 0 0 150px;
  margin-top: -35px;
  margin-right: 12px;
}

.id_card .avatar_right img {
  width: 150px;
  border-radius: 8px;
}

.id_card .second_block {
  background: var(--neutralDark);
  border-radius: 8px;
  margin-top: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.id_card .second_block .line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.id_card .second_block .content {
  background: var(--base);
  border-radius: 8px;
  padding: 6px;
  height: 235px;
  overflow: auto;
  text-align: justify;
}

.id_card .second_block .line .content {
  height: 165px;
}

.id_card .second_block .content.small {
  height: 135px;
}

.id_card .second_block .content.trait {
  display: flex;
  height: 165px;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.id_card .second_block .groupe {
  padding: 6px;
  background: var(--neutralDarker);
  border-radius: 4px;
  margin-bottom: 5px;
}

.id_card .second_block .groupe:before {
  content: 'groupe';
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
}

.id_card .second_block .groupe.love { background-color: var(--love); }
.id_card .second_block .groupe.love:before { content: 'love shot'; }
.id_card .second_block .groupe.fire { background-color: var(--fire); }
.id_card .second_block .groupe.fire:before { content: 'fire starter'; }
.id_card .second_block .groupe.wrecked { background-color: var(--wrecked); }
.id_card .second_block .groupe.wrecked:before { content: 'wrecked souls'; }
.id_card .second_block .groupe.iwantit { background-color: var(--iwantit); }
.id_card .second_block .groupe.iwantit:before { content: 'i want it, i got it'; }
.id_card .second_block .groupe.dark { background-color: var(--dark); }
.id_card .second_block .groupe.dark:before { content: 'dark rises'; }
.id_card .second_block .groupe.pfo { background-color: var(--pfo); }
.id_card .second_block .groupe.pfo:before { content: 'pforzheimer house'; }
.id_card .second_block .groupe.dudley { background-color: var(--dudley); }
.id_card .second_block .groupe.dudley:before { content: 'dudley house'; }
.id_card .second_block .groupe.adams { background-color: var(--adams); }
.id_card .second_block .groupe.adams:before { content: 'adams house'; }
.id_card .second_block .groupe.kirkland { background-color: var(--kirkland); }
.id_card .second_block .groupe.kirkland:before { content: 'kirkland house'; }
.id_card .second_block .groupe.franklin { background-color: var(--franklin); }
.id_card .second_block .groupe.franklin:before { content: 'franklin house'; }
.id_card .second_block .groupe.student { background-color: var(--students); }
.id_card .second_block .groupe.student:before { content: 'student'; }

.id_card .hors_jeu {
  border-bottom: 1px solid transparent !important;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "icon text"
      "icon code";
}

.id_card .hors_jeu > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  grid-area: icon;
}

.id_card .hors_jeu .content {
  height: 85px;
  padding: 0 20px;
}

.id_card .hors_jeu .code #codeBox dd { padding: 10px; }

.id_card .content .story-content {
    background: var(--base);
    text-align: justify;
    padding: 16px;
    border-radius: 8px;
    line-height: 1.4;
}
