.main_user_profile {
  border-radius: 8px;
  background: var(--neutralDark);
  overflow: hidden;
  padding-bottom: 10px;
}

.main_user_profile input {
  width: auto !important;
}

.main_user_profile .head {
  background: var(--neutralDarker);
  padding: 10px;
}

.main_user_profile .head.colored .rank, .main_user_profile .head.colored .username div span, .main_user_profile .head.colored .username i {
  color: var(--white) !important;
}

.main_user_profile .username {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: var(--16px);
  display: flex;
  align-items: center;
  gap: 5px;
}

.main_user_profile .username .isOnline {
  font-family: var(--font);
  text-transform: lowercase;
  font-size: var(--11px);
  display: inline-flex;
  background: var(--neutralDark);
  border-radius: 4px;
  padding: 0px 4px;
  font-style: italic;
}

.main_user_profile  .rank {
  text-transform: uppercase;
  font-size: var(--12px);
  font-weight: 500;
}

.user_profile {
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.user_profile .user_icon {
    top: -25px;
    right: -8px;
}

.user_profile .user_icon label { display: none; }

.user_profile .user_icon:has(.field_editable:not(.invisible)) {
    width: 180px;
    z-index: 1;
    background: var(--neutralDarker);
    padding: 5px;
    border-radius: 5px;
    height: 130px;
    top: 0;
}

.user_profile .line {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 14px;
}

.user_profile .line.two .id_card {
  flex: 1 1 50%;
}

.user_profile .line.three > div {
  flex: 1 1 33%;
}

.user_profile .line .id_card {
  width: auto;
  flex: 1 1 auto;  
}

.user_profile .line .id_card .accordion_content {
  overflow: auto; 
}

.user_profile .line .id_card .accordion_content .profile_field {
  margin: 10px;
}

.user_profile .line .id_card .accordion_content div {
  padding: 0; 
}

.user_profile .line .id_card .accordion_content div:first-child {
  border-bottom: none;
}

.user_profile .line .id_card .game label { display: none; }

.user_profile .pseudo_mc {
  flex: 0 0 200px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user_profile .pseudo_mc .pseudo_irl label, .user_profile .pseudo_mc .mc label { display: none; }
.user_profile .pseudo_mc .pseudo_irl .profile_field, .user_profile .pseudo_mc .mc .profile_field { margin: 0; }

.user_profile .pseudo_mc .pseudo_irl {
  font: var(--16px) var(--title);
  text-align: center;
}

.user_profile .pseudo_mc .mc {
  font-style: italic;
  text-align: center;
}

.user_profile .info_irl, .user_profile .rps {
  background: var(--base);
  border-radius: 8px;
  padding: 10px;
  height: 160px;
  overflow: auto;
}

.user_profile .rps label { display: none; }
.user_profile .rps .field_uneditable { line-height: 1; font-size: var(--12px); }

.user_profile .inner_rps { line-height: 1; }
.user_profile .inner_rps img { max-width: 100%; }

.profile_avatar {
  width: 200px;
  height: 320px;
  position: relative;
}

.profile_avatar img { border-radius: 8px; width: 200px; }

.user_fc {
  background: var(--gradientAccent);
  display: inline-block;
  border-radius: 4px;
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--10px);
  font-weight: 600;
  padding: 4px 8px;
  top: 80%;
  left: 50%;
  position: absolute;
  width: 80%;
  text-align: center;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.user_fc input { width: 100% !important; }
.user_fc label { display: none; }

.user_avatar_subinfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--base);
  text-align: center;
  height: 60px;
  border-radius: 0 0 8px 8px;
}

.user_avatar_subinfo .posts_rps {
  display: flex;
  justify-content: space-between;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
  align-items: center;
  height: 60px;
  margin-top: 8px;
}

.user_avatar_subinfo .posts_rps field {
  font-family: var(--title);
  font-size: var(--16px);
  line-height: 1;
}

.last_visited {
  text-transform: lowercase;
  position: absolute;
  right: 80px;
  top: -10px;
}

.profile_infos {
  background: var(--neutral);
  border-radius: 8px;
  padding: 10px;
  height: 320px;
  flex: 1 1 auto;
}

.profile_infos .inner_line {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.profile_infos .inner_line .block {
  flex: 1 1 50%;
  height: calc(320px - 70px);
  background: var(--neutralLight);
  padding: 10px;
  border-radius: 8px;
}

.profile_infos .inner_line .block .content {
  height: calc(100% - 25px);
  overflow: auto;
}

.profile_infos .inner_line .block .content img { max-width: 100%; }
.profile_infos .inner_line .block .content.descriptions .field_uneditable { line-height: 1;}
.profile_infos .inner_line.subjects { align-items: center; }

.profile_infos .inner_line.subjects .links {
  display: inline-block;
  background: var(--gradientAccent);
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--white);
  font-size: var(--11px);
  text-transform: uppercase;
  font-weight: 600;
}

.profile_infos .user_color .color_user {
  padding: 4px 8px;
  border-radius: 8px;
  background: var(--neutralDark);
  color: var(--white);
}

.profile_infos .user_color label {
  color: var(--white);
}

.profile_infos .user_color > div {
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.profile_infos .user_color > div .field_uneditable { font-size: var(--11px); }
.profile_infos textarea { width: 100% }

.awards_block_simple_wrapper .h3 { display: none;}
.awards_block_simple_wrapper .awards_block { padding: 10px !important; display: flex; gap: 15px; flex-wrap: wrap; overflow-x: hidden; }

.profile_contact form { display: flex; }
.profile_contact form > div { margin-left: 5px; }
.profile_contact form div:nth-child(2) { display: none }

.profile_content {
  font-size: var(--10px);
  text-transform: uppercase;
  font-weight: 500;
}

.profile_content .profile_contact {
  border-top: 1px solid var(--neutralDark);
  margin-top: -5px;
  margin-left: -10px;
  margin-right: -10px;
}

.profile_content .profile_contact div:not(:first-child) { border-left: 1px solid var(--neutralDark); }

.profile_content .profile_contact a {
  display: inline-block;
  padding: 4px 8px;
  font-size: var(--10px);
  text-transform: uppercase;
  font-weight: 500;
}

#list_awards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.award {
  width: 40px;
  height: 40px;
  position: relative;
  background-image: var(--award-image);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  cursor: pointer;
}

.award:hover .award_tooltiptext {
  display: block;
}

/* Bloc description de la récompenses */
.award_tooltiptext {
  width: max-content;
  display: none;
  position: absolute;
  top: 25%;
  left: 25px;
  background-color: var(--neutral);
  border: 1px solid var(--neutralDark);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 11px;
  pointer-events: none;
}

/* titre de la récompenses*/
.award_tooltiptext_title {
  font-weight: 600;
}

.profile_field {
  display: flex;
  flex-direction: column;
}

.profile_field label,
.profile_field label > span {
  font-weight: 600;
  color: var(--accentClr);
  text-transform: uppercase;
  font-size: var(--11px);
}

.profile_field field {
  position: relative;
}

.profile_admin {
  text-align: center;
  margin: 10px 0 0;
}

/* Bouton "suivre le membre" */
.followBtn {
  background: var(--neutral);
  border-radius: 5px;
  font-weight: 600;
  margin: 0;
  font-size: var(--12px);
  text-transform: uppercase;
  padding: 5px 10px;
  color: var(--textColorAccent);
}

.followBtn::before {
  top: 1px;
  position: relative;
  color: var(--accentClr);
  margin-right: 5px;
}

.profile_admin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile_friendsfoes {
  display: flex;
  gap: 10px;
}

.profile_friendsfoes a {
  background: var(--neutral);
  padding: 5px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: var(--12px);
  font-weight: 600;
}


.profile_field:not(.field-rps-en-cours) .ajax-profil_parent { position: relative; display: block; }
.profile_field:not(.field-rps-en-cours) .ajax-profil_edit {
  cursor: pointer; 
  position: absolute;
  width: 100%;
  height: 100%;
  background: unset;
  box-shadow: 0px 1px 1px inset #585A74!important;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.profile_field:not(.field-rps-en-cours) .ajax-profil_edit > img { display: none; }
.ajax-profil_valid {
  width: 16px !important;
  height: 16px !important;
  filter: var(--filter-accent);
  margin: 4px;
  padding: 0 !important;
}

.notif_row:hover { background-color: var(--neutralDark); }

/* Fond atténué */
.wombat-overlay {
  position: fixed;
  z-index: 990;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: var(--neutral);
}

/* effet de transition du fond atténué */
.wombat-overlay.open {
  opacity: .5;
  visibility: visible;
}

/* Fenêtre du popup */
.wombat-aside {
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 999;
  transition: 0.2s all ease;
  visibility: hidden;
  opacity: 0;
  width: 90%;
  max-width: 950px;
  box-shadow: var(--shadowBox);
  border-radius: 10px;
  height: max-content;
  transform: translateX(-20%);
}

/* effet de transition pour la fenêtre */
.wombat-aside.open {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}
